<div class="container">
  <div class="log_in">

    <h1>Log in</h1>
    <div class ="form">
      <%= form_with(scope: :session, url: sessions_path, local: true) do |f| %>

        <div>
          <p class ="description"><%= f.label :email %></p>
          <p><%= f.email_field :email %></p>
        </div>

        <div>
          <p class ="description"><%= f.label :password %></p>
          <p><%= f.password_field :password %></p>
        </div>

        <div>
          <%= f.submit "Log in", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
