<div class="container">
  <div class="sign_up">

    <h1>Sign up</h1>
    
    <% if @user.errors.any? %>
      <div id="error_explanation">
      
        <h4><%= (@user.errors.count) %>件のエラーがあります。</h4>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class ="form">
      <%= form_with(model: @user, local: true) do |f| %>
        <div>
          <p class ="description"><%= f.label :name %></p>
          <p><%= f.text_field :name %></p>
        </div>
        <div>
          <p class ="description"><%= f.label :email %></p>
          <p><%= f.email_field :email %></p>
        </div>
        <div>
          <p class ="description"><%= f.label :password %></p>
          <p><%= f.password_field :password %></p>
        </div>
        <div>
          <p class ="description"><%= f.label :password_confirmation, "Password (確認用)" %></p>
          <p><%= f.password_field :password_confirmation %></p>
        </div>
        <br>
        <div>
          <p class ="description"><%= f.label :icon, "プロフィール画像" %></p>
            <p><%= f.file_field :icon, class:"image_file" %></p>
          </p>
          <p><%= image_tag(@user.icon.url) if @user.icon.url %></p>
        </div>
        <div>
          <%= f.submit "Create My Account", class: "btn btn-default" %>
        </div>
      <% end %>
    </div>
  </div>
</div>