<%= form_with(model: @user, local: true) do |form| %>
  <div class="user_name">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="user_email">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div class="user_password">
    <%= form.label :password %>
    <%= form.text_field :email %>
  </div>
  <%= form.submit %>
<% end %>