<div class="container"> 
   <h1><%= @user.name %></h1>
  <div class="user">
    <p class="photo"><%= image_tag @user.icon.url %></p>
    <div class="user_information">
      <p>メールアドレス: <%= @user.email %></p>

      <div>
        <span><%= link_to favorites_path do %> </span>
          <i class="fas fa-heart fa-lg heart"></i>
          <span>My favrite</span>
        <% end %>
        <br>
          <% if @user.id == current_user.id %>
            <span><%= link_to edit_user_path(current_user.id) do %></span>
              <!--<i class="fas fa-user-edit fa-lg"></i>-->
              <i class="fas fa-user fa-lg"></i>
              <!--<i class="far fa-user fa-lg"></i>-->
              <span>Edit Profile</span>
            <% end%>
          <% end %>
      </div>
    </div>
  </div>
</div>