<div class="container"> 
   <h1><%= @user.name %></h1>
  <div class="user">
    <p class="photo"><%= image_tag @user.icon.url %></p>
    <div class="user_information">
      <p>メールアドレス: <%= @user.email %></p>

      <div>
        <span><%= link_to ('<i class="glyphicon glyphicon-heart fa-2x"></i>').html_safe, favorites_path %> </span>
        <span>My favrite</span>
        <br>
          <% if @user.id == current_user.id %>
            <span><%= link_to ('<i class="glyphicon glyphicon-user fa-2x"></i>').html_safe, edit_user_path(current_user.id) %></span>
            <span>Edit Profile</span>
          <% end %>
      </div>
    </div>
  </div>
</div>