  <%= form_with(model: @photo, local: true, url: choose_new_or_edit) do |form| %>
    <% if @photo.errors.any? %>
      <div id="error_explanation">
        <h5><%= @photo.errors.count %>件のエラーがあります。</h5>

        <ul>
        <% @photo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="post">
      <!-- 確認画面から新規作成画面に戻った時に、 -->
      <!-- アップロードした画像を表示させるための記述 -->
      <p><%= image_tag(@photo.image.url) if @photo.image.url %></p>
      <p><%= form.file_field :image, class:"image_file" %></p>
    </div>
    <div>
      <%= form.text_area :caption, placeholder: "キャプションを書く" %>
    </div>
    <div>
      <%= form.submit "Post", class: "btn btn-default" %>
    </div>
 
  <% end %>