<h4>以下の内容で投稿しますか？</h4>

<%= form_with(model: @photo, url: photos_path, local: true) do |form| %>
  <%= form.hidden_field :image_cash %>
  <%= form.hidden_field :caption %>

  <!-- 確認画面でアップロードした画像を表示させるための記述 -->
  <p><%= image_tag(@photo.image.url) %></p>
  <p><%= @photo.caption %></p>
  <%= form.submit  "Post" %>
<% end %>

<%= form_with(model: @photo, url: new_photo_path, local: true, method: 'get') do |form| %>
  <%= form.hidden_field :image_cash %>
  <%= form.hidden_field :caption %>
  <%= form.submit "Back", name: 'back'%>
<% end %>
