<div class="container">
  <h1>この内容で投稿しますか？</h1>

  <%= form_with(model: @photo, url: photos_path, local: true) do |form| %>
    <%= form.hidden_field :caption %>

    <!-- 確認画面でアップロードした画像を表示させるための記述 -->
    <p><%= image_tag(@photo.image.url) %></p>
    <%= form.hidden_field :image_cache  %>
    <p><%= @photo.caption %></p>
    <%= form.submit  "Post", class: "btn btn-default" %>
  <% end %>

  <%= form_with(model: @photo, url: new_photo_path, local: true, method: 'get') do |form| %>
    <%= form.hidden_field :image_cache %>
    <%= form.hidden_field :caption %>
    <%= form.submit "Back", name: 'back', class: "btn btn-default"%>
  <% end %>
</div>