<div class="container">
  <h1>Photo List</h1>
  <div>
      <div class="row">
   
        <% @photos.each do |photo| %>
          <div class="col-md-6">

            <div class="post">
              <%= link_to photo do %>
                <p class="photo">
                  <%= image_tag photo.image.url %>
                </p>
                <div class="content"> 
                  <p class="user_name">
                    <%= photo.user.name %>
                  </p>

                  <p class="photo_caption">
                    <%= photo.caption %>
                  </p>
                
                  <p class="date">
                    <%= photo.created_at.strftime("%Y-%m-%d %H:%M ") %>
                  </p>
                </div>

              <% end %>
            </div>

          </div>
        <% end %>
      </div>
  </div>

  <br>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to 'Top', photos_path %></button>
  </div>

</div>