<div class="container">
  <p><%= notice %></p>
  <h1>Photo List</h1>
 
  <div class="content">

    <div class="row">
   
      <% @photos.each do |photo| %>
        <div class="col-md-6">
          <div class="post">
            <div class="photo_image">
              <p><%= image_tag photo.image.url %></p>
            </div>
            <div class = "photo_caption">
              <%= photo.caption %>
            </div>
            
            <div class="date">
              <%= photo.created_at.strftime("%Y-%m-%d %H:%M ") %>
            </div>
            <div><%= link_to "詳細", photo_path(photo.id) %></div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <br>

  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default"><%= link_to 'Create new', new_photo_path %></button>
  </div>

</div>