<%# <div class="container">  %>
<div class="details_wrapper">
  <h1>Details</h1>

  <div class="post">
    <p class="photo"><%= image_tag @photo.image.url %></p>
    <div class="details_content">
      <p><%= @photo.user.name %></p>
      <p><%= @photo.caption %></p>
      <p><%= @photo.created_at.strftime("%Y-%m-%d %H:%M ") %></p>
    </div>
  <div>

  <div>
    <% if @photo.user_id == current_user.id %>
      <div class="buttons">
        <div class="delete_button">
          <%# 削除ボタンの表示 %>
          <%= link_to ('<i class="glyphicon glyphicon-trash fa-2x"></i>').html_safe, photo_path(@photo.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
        </div>
        <div class="edit_button">
          <%# 編集ボタンの表示 %>
          <%= link_to ('<i class="glyphicon glyphicon-edit fa-2x"></i>').html_safe, edit_photo_path(@photo.id), data: { confirm: '本当に編集していいですか？' } %>
        </div>
      <div>
    <% end %>
  </div>

  <% unless @photo.user_id == current_user.id %>
    <% if @favorite.present? %>
      <%# お気に入り解除する %>
      <%= link_to ('<i class="glyphicon glyphicon-heart fa-2x"></i>').html_safe, favorite_path(id: @favorite.id), method: :delete %>
    <% else %>
      <%# お気に入りに登録されていなければお気に入り登録する %>
      <%= link_to ('<i class="glyphicon glyphicon-heart-empty fa-x2"></i>').html_safe, favorites_path(photo_id: @photo.id), method: :post %>
    <% end %>
  <% end %>

  <div class="button">
    <button type="button" class="btn btn-default"><%= link_to "Back", photos_path %></button>
  </div>
</div>
</div>
