<div class="container">
  <h1>Details</h1>

  <div class="post">
    <p class="photo"><%= image_tag @photo.image.url %></p>
    <div class="details_content">
      <p><%= @photo.user.name %></p>
      <p><%= @photo.caption %></p>
      <p><%= @photo.created_at.strftime("%Y-%m-%d %H:%M ") %></p>

      <div>
        <% if @photo.user_id == current_user.id %>
          <div class="buttons">
            <div class="delete_button">
              <%# 削除ボタンの表示 %>
              <%= link_to photo_path(@photo.id), method: :delete, data: { confirm: '本当に削除していいですか？' } do %>
                <i class="far fa-trash-alt fa-lg"></i>
              <% end %>
            </div>
            <div class="edit_button">
              <%# 編集ボタンの表示 %>
              <%= link_to edit_photo_path(@photo.id), data: { confirm: '本当に編集していいですか？' } do %>
                <i class="far fa-edit fa-lg"></i>
              <% end %>
            </div>
          <div>
        <% end %>
      </div>

      <p>
        <% unless @photo.user_id == current_user.id %>
          <% if @favorite.present? %>
            <%# お気に入り解除する %>
            <%= link_to favorite_path(id: @favorite.id), method: :delete do %>
              <i class="fas fa-heart fa-lg heart"></i>
            <% end %>
          <% else %>
            <%# お気に入りに登録されていなければお気に入り登録する %>
            <%= link_to favorites_path(photo_id: @photo.id), method: :post do %>
              <i class="far fa-heart fa-lg"></i>
            <% end %>
          <% end %>
        <% end %>
      </p>
    </div>

    <div class="button">
      <button type="button" class="btn btn-default"><%= link_to "Back", photos_path %></button>
    </div>
  </div>

</div>