<h1>詳細画面</h1>

<div>
  <p><%= image_tag @photo.image.url %></p>
  <p>caption: <%= @photo.caption %></p>
  <p><%= @photo.user.name %></p>
  <p><%= @photo.created_at.strftime("%Y-%m-%d %H:%M ") %></p>
<div>

<div>
  <% if @photo.user_id == current_user.id %>
    <div>
      <%= link_to "削除", photo_path(@photo.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %>
    </div>
    <div>
    <%= link_to "編集", edit_photo_path(@photo.id), data: { confirm: '本当に編集していいですか？' } %>
    </div>
  <% end %>
</div>

<% unless @photo.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(photo_id: @photo.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>

<div>
  <%= link_to "Back", photos_path %>
</div>